#search_section {
  padding: 186px 0 107px;
  background: #f6f8ff;
}
.search-heading {
  max-width: 816px;
  margin: 0 auto;
  text-align: center;
}
.search-heading h1 {
  margin-bottom: 26px;
}
#search_section p {
  font-size: 22px;
  max-width: 642px;
  margin: 30px auto 40px;
}


form label {
  color: #313653;
  font-size: 18px;
  margin-bottom: 6px;
}
form {
  max-width: 840px;
  margin: 0 auto;
}
form .form-control{
  background: #FFFFFF;
  border: 1px solid #e7ecfd;
  height:64px;
  border-radius: 8px;
  font-weight: 500;
}
form textarea.form-control {
  height: 200px;
}
form input:focus {
  border-color: #e7ecfd;
  background: #f6f8ff;
}
form .form-group {
  margin-bottom: 30px;
}
form .btn-dark {
  min-width: 226px;
  min-height: 61px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .search-heading h1 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .search-heading img {
    max-width: 450px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #search_section {
    padding: 143px 0 50px;
  }
  .search-heading h1 {
    margin-bottom: 15px;
    max-width: 270px;
  }
  .search-heading img {
    max-width: 218px;
  }
  form label {
    font-size: 16px;
  }
  form textarea.form-control {
    height: 180px;
  }
  form .form-group {
    margin-bottom: 20px;
  }
}
