#dis_section {
  padding: 186px 0 87px;
  background: #f6f8ff;
}
.search-heading {
  max-width: 1030px;
  margin: 0 auto;
  text-align: center;
}
.search-heading h1 {
  margin-bottom: 26px;
}


.list-section {
  background: #F6F8FF;
}

.filter-list ul {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto 30px;
  max-width: 640px;
  flex-wrap: wrap;
}

.filter-list ul li {
  position: relative;
}

.filter-list ul li input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.filter-list ul li span {
  display: flex;
  height: 50px;
  width: 120px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.filter-list ul li input:checked+span {
  background:linear-gradient(230deg, #90A4FF, #4867FF);
  color: #fff;
}

.song-items {
  margin-top: 40px;
  padding-bottom: 80px;
}

.song-card .song-thum {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.song-card h3 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 15px;
  color: #4766FF;
}
.song-card {
  text-align: center;
  margin-bottom: 40px;
}
.song-card .loops-songs {
  font-size: 14px;
  font-family: "Avenir Medium";
}
.song-card .loops-songs span{
  color: #767574;
}
.song-card .play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
}
.tags-title {
  display: none;
}
.tags-close {
  display: none;
}

@media(max-width:1024px){
  .search-heading h1 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .search-heading img {
    max-width: 450px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #dis_section {
    padding: 143px 0 50px;
  }
  .search-heading h1 {
    margin-bottom: 15px;
    max-width: 270px;
  }
  .search-heading img {
    max-width: 218px;
  }
  .song-card h3 {
    font-size: 16px;
  }
  .song-card .play-icon {
    width: 32px;
  }
  .filter-icon {
    display: inline-block;
  }
  .tags-track {
    position: fixed;
    right: 0;
    top: 150px;
    width: 70%;
    background-color: #F6F8FF;
    box-shadow: -10px 0 10px rgba(0,0,0,0.2);
    z-index: 99999;
    padding: 40px 20px 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(calc(100% + 10px));
    transition: all .3s ease;
  }
  .tags-track.active {
    transform: translateX(0);
  }
  .filter-list ul li span {
    height: auto;
    width: auto;
    padding: 10px 20px;
  }
  .tags-title {
    display: block;
    margin-bottom: 15px;
  }
  .tags-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }
}